<div class="row w-100 h-100 bg-white p-1">
  <div class="col-5 p-1">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="camping name "  #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource"  class=" w-100 p-3"   >
      <caption></caption>

      <ng-container matColumnDef="name"  >
        <th mat-header-cell  id="name" *matHeaderCellDef mat-sort-header> Camping </th>
        <mat-list-item class="row" mat-cell *matCellDef="let element" >  {{element.campDescription}} <mat-icon matSuffix  (click)="onClickCamp(element)">arrow_right</mat-icon> </mat-list-item>
      </ng-container>



      <tr
        mat-row
        class="item"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </div>
  <div class="col-7 pt-1">
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false">

  <agm-marker
    *ngFor="let camp of dataSource.data; let i = index"
    [latitude]="camp.latitude"
    [longitude]="camp.longitude"
    (markerClick)="clickedMarker(camp.nbStars)"
  >

    <agm-info-window class="card" #infoWindow>
      <img [src]="getImage(camp)" alt="image" class="card-img-top" height="200" width="300">
      <h5 class="card-title">{{camp.campDescription}}<span *ngFor="let star of numbers"><mat-icon>star</mat-icon></span></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{camp.name}}</h6>



    </agm-info-window>

  </agm-marker>

</agm-map>

  </div>
</div>
