table {
  width: 100%;

}
td.mat-cell{
  border-bottom-style: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
tr {
  margin-top: 0px;
  height: 10px;
}
th.mat-header-cell{
  font-size: 10px;
  color: #8D9498;
}
