agm-map {
  height: 650px;

}
.close{
  z-index: 30;
  width: 20px ;
  position: absolute;
  background-color: white;
}
.stars {
  font-size: 17px;
  color: goldenrod;
}
mat-icon{
  color: #8D9498;
}
